<article class="cuadroGeneral">
  <div class="cuadroImagen">
    <h1>
      George Washington
    </h1>
    <h2>
      Primer Presidente de los EEUU
    </h2>
    <div class="washington">
    <img src="assets/washington_tr.png">
    </div>
  </div>
  <div class="cuadro">"El gobierno no es una razón, 
    tampoco es elocuencia, es fuerza. Opera como el fuego; 
    es un sirviente peligroso y un amo temible; en ningún momento 
    se debe permitir que manos irresponsables lo controlen"
    <h2>G.W</h2>
  </div>
  <div class="cuadro">"No hay que mirar hacia atrás a menos 
    que sea para obtener lecciones útiles de los errores del pasado, 
    y con el propósito de aprovecharse de la experiencia que tan cara 
    ha costado"
    <h2>G.W</h2>
  </div>
  <div class="cuadro">“No es la tiranía lo que deseamos, sino la paz justa, 
    limitada y un gobierno federal”
    <h2>A.H</h2>
  </div>
  <div class="cuadroImagen">
    <h1>
      Alexander Hamilton
    </h1>
    <h2>
      Primer Secretario del Tesoro de los EEUU
    </h2>
    <div class="hamilton">
      <img src="assets/hamilton_tr.png">
    </div>
  </div>
  <div class="cuadro">“Cuando se empuña la espada, las pasiones de los hombres no tienen límites”
    <h2>A.H</h2>
  </div>
  <div class="cuadro">“No hay inversión más rentable que la del conocimiento”
    <h2>B.F</h2>
  </div>
  <div class="cuadro">“Dime y lo olvido, enséñame y lo recuerdo, involúcrame y lo aprendo”
    <h2>B.F</h2>
  </div>
  <div class="cuadroImagen">
    <h1>
      Benjamin Franklin
    </h1>
    <h2>
      "El Primer Estadounidense"
    </h2>
    <div class="benjamin">
      <img src="assets/benjamin_tr.png">
    </div>
  </div>
</article>